<div class="logo py-4">
    <img height=125px weight=90px src="../../assets/images/calendrier.jpg" alt="Company Logo" />
</div>
<div id="title" class="p-3 mb-2 bg-primary text-white">Consulter et Saisir TimeSheet</div>
<label for="start">Journeé: </label>
<div id="container-date">
<input type="date" id="start" name="trip-start"
       value="2022-01-1"
       min="2015-01-01" max="2050-12-31">
  <div id="btn" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button  class="btn btn-success">Acceder</button>
    <button class="btn btn-primary">Ajouter</button>
  </div>
</div>



